*,html,body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.LDV{
    width: 5vw;
}
.title-flex{
    display: flex;
    align-items: center;
    gap:9px;
}
.title-flex img{
    border-radius: 50px;
    border-width: 4px;
    border-color: rgb(248, 30, 255);
    border-style: solid;
    box-shadow: 12px 12px 12px indigo;
    animation: title_flex_animatsi alternate-reverse 3s infinite;
}
@keyframes title_flex_animatsi {
    from{
        box-shadow: 12px 12px 12px indigo;
    }
    to{
        box-shadow: 12px 12px 12px white;
    }
}
header{
    color: #eaeaea;
    background-color: #1A223B;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.Logo{
    margin-right: auto;
    margin-left: 10px;
    cursor: pointer;
}

.Logo:hover{
    color: #ff6a3d;
    transition: .5s all ease 0s;
    transform: rotate(2deg);
}

nav ul{
    display: flex;
    padding:20px;
}

li{
    list-style-type: none;
    padding: 10px;
}

li a{
    transition: .5s all ease 0s;
    display: inline-block;
}

li a:hover{
    color: #ff6a3d;
    transform: rotate(2deg);
}


a{
    color: #eaeaea;
    text-decoration: none;
}
.btn-cta{
    margin-right: 10px;
    border: none;
    font-size: 20px;
    padding: 6px 12px;
    background-color: #ff6a3d;
    color: #eaeaea;
    border-radius: 8px;
    cursor: pointer;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 70px;
    margin-bottom: 12vh;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    text-align: center;
}

.title{
    font-size: 24px;
    font-weight: 400;
}

.deskripsi{
    font-weight: bold;
    font-size:28px;
}

.img-profile{
    width: 75%;
    max-width: 500px;
    max-height: auto;
    padding: 10px;
    border-radius: 50% 0;
    border-width: 2px;
    border-style: solid;
    border-color: #ff6a3d;
    background-color: #ddd;
    box-shadow: 12px 10px tomato;
}

.parallax{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
}
.parallax-content-blue {
    position: absolute;
    display: flex;
    flex-flow:row nowrap;
    height: 20vh;
    justify-content: center;
    align-items: flex-start;
    top: 8vh;
}

.parallax-content-blue .card {
    padding:16px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:wrap row;
}

.parallax-content-green .card{
    display: flex;
    flex-flow:row nowrap;
    height: 20vh;
    justify-content: center;
    align-items: flex-start;
    top: 0;
}

.moe{
    height: 100vh;
    background-image:url('img/asset/moe1.png') ;
}
.owl{
    height: 240vh;
    background-image:url('img/asset/owl.png') ;
}
/* vh vertikal height viewport height #height yang menyesuaikan layar device anda */
.tentang{
    position: relative;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #eaeaea;
    padding: 40px 0;
}

.bg-ijo{
    background: rgba(125,225,45,.4);
}

.bg-biru{
    background: rgba(31, 62, 238, 0.4);
}

.mt-10{
    margin-top: 10px;
}

.d-none{
    display: none;
}

.text-light{
    color: #eaeaea;
}

.text-center{
    text-align: center;
}

.card{
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2vw;
    margin: 14vh 0;
    padding: 20px 40px;
    flex-flow:row nowrap;
}

.card-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #eaeaea;
    padding: 12px;
    border-radius: 0 15%;
}

.card-item-green{
    background-color: rgba(125,225,45,.4);
    border: green solid;
    box-shadow: 12px 10px greenyellow;
}

.card-item-blue{
    box-shadow: 12px 10px blue;
    background: rgba(31, 62, 238, 0.4);
    border: blue solid;
}

.jikoshokai{
    padding: 12px 130px;
    display: flex;
    gap: 20%;
    flex-direction: column;
    align-items: flex-end;
}

.jikoshokai a{
    color: black;
    transition: .5s all;
    font-size: 2rem;
}
.jikoshokai a:hover{
    color: #ff6a3d;
    transition: .5s ease;
    transform: translateY(5px);
}

.bg-tomat{
    background-color: #ff6a3d;
}

.about-card{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9px 12px;
}

.list-about{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.list-about li{
    border-left: 6px solid #0dcaf0;
    border-radius: 20px;
    margin: 10px 0;
}

footer{
    padding: 8vh;
    color: #eaeaea;
    background-color: #1A223B;
    font-size: 2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-language-override: normal;
    font-style: oblique;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2vh;
}

footer button{
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-self: center;
}

.icon-cat{
    margin: 4px 0;
}
.icon{
    width: 9vw;
    border: solid #0dcaf0;
    border-radius: 5vw;
    box-shadow:1px 2px blue;
}

.icon-container{
    gap: 2vw;
    display: flex;
    flex-flow: nowrap row;
    justify-content: start;
    align-items: center;
}

.intro-image{
    width:100%;
    opacity: 0;
}

.intro-image-border{
    width: 30vw;
    height: fit-content;
   border: solid #ddd;
   border-radius: 12vw 0px 12px 0;
   border-width: 12px;
   box-shadow: 12px 12px rgba(196, 76, 55,.8);
   background: url('img/asset/info2.png');
   background-repeat: no-repeat;
   background-size: cover;
   padding: 16px 0;
}

.intro-texts{
    padding: 12px 0;
    display: flex;
    flex-flow: nowrap column;
    gap: 20px;
}

.bl-info{
    border-left: #0dcaf0 solid;
    border-radius: 2px;
    display: inline;
    padding-left:8px;
}

.br-info{
    border-right: #0dcaf0 solid;
    border-radius: 2px;
    display: inline;
    padding-right:8px;
}

@media only screen and (max-width: 1000px) {
    .parallax{
        background-attachment: fixed;
        background-position: center;
        background-repeat:no-repeat ;
        background-size: cover;
        height: 90vh;
        gap: 0;
        display: flex;
        flex-flow: column wrap;
    }
    .parallax-content{
        display: flex;
        gap: 120px;
    }
    .card{
        width: 100%;
        height: 0;
        display: flex;
        justify-content: start;
        flex-flow:wrap column;
        align-items: center;
        gap: 4vh;
    }

    .list-about{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    footer{
        display: flex;
        flex-direction: column;
        gap: 24px;
        font-size: medium;
        margin-bottom: 10vh;
    }

    .intro-image-border{
        width: 70%;
        margin-bottom: 12px;
    }


    .title{
        font-size: 20px;
    }

    .deskripsi{
        font-size: 16px;
    }

    .jikoshokai {
        display: flex;
        gap: 0;
        margin: 30px 12px;
        border: solid tomato;
        border-radius: 0 25vw  0 ;
        background-color: #ddd;
        box-shadow:4px 8px rgba(206, 71, 47,.9);
    }

    nav{
        position: sticky;
        bottom: 0;
        background-color: #1A223B;
    }

    .owl{
        height: 165vh;
    }
    .parallax-content-blue .card{
        gap: 2vh;
    }


    .parallax-content-green .card{
        justify-content: center;
        align-items: center;
        flex-flow:column nowrap;
        gap:3vh;
    }

    header .icon-container{
        margin-top: 2vh;
    }

    nav {
        position: fixed;
        bottom: 0;
        background-color: #1A223B;
        width: 100%;
        z-index: 9;
        padding: 4;
    }
    
  }

  @media only screen and (max-width: 700px) {
    .owl{
        height: 210vh;
    }
  }