*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: linear-gradient(green 50%, silver) no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.models{
    height: 500px;
}

.text{
    color: #fff;
}












