*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 6em;
    background-color: black;
    color: white;
}
.объект{
    text-shadow: 0 0 50px blue,
    0 0 60px blue,
    0 0 70px blue,
    0 0 80px blue,
    0 0 90px blue;
    animation:colorfull-capitalist 3s alternate infinite;
}
@keyframes colorfull-capitalist {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}