*{
    /* overflow-y: hidden; */
    height: fit-content;
    cursor: url(https://cur.cursors-4u.net/nature/nat-2/nat108.cur), auto !important;
}
.card{
    min-width: 230px;
    max-width: 530px;
    padding: 12px 10px;
    background-color:rgba(12, 112, 223, 0.6);
    box-shadow:14px 12px 12px rgba(12, 112, 223, 0.7);
    animation: kelip 4s alternate infinite;
}
.hiasan i{
    /* box-shadow: 12px 12px 12px white; */
    text-shadow: 1px 9px 6px white;
    animation: kelip-hiasan 1s alternate-reverse infinite;
    color: skyblue !important;
}
@keyframes kelip-hiasan {
    from{

    }
    to{
        text-shadow: 1px 9px 6px skyblue;
    }
}
nav{
    background-color:rgba(12, 112, 223, 0.6);
    box-shadow: 14px 12px 12px rgba(12, 112, 223, 0.7);
    bottom: 50vh;
    animation: kelip 906ms alternate infinite;
    animation-delay: 2s;
    position: relative;
    transform: translateY(70%);
    overflow: hidden;
}
.hiasan-border{
    position: absolute;
    top: 10px;
    width: 50px;
    height: 50px;
    border:2px solid white;
} 
.hiasan-border::after,
.hiasan-border::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border:2px solid skyblue;
} 
.hiasan-border::after{
    transform: translateX(13px) translateY(18px);
}
.hiasan-border::before{
    transform: translateX(23px) translateY(15px);
}
.border-atas-kiri{
    top: 0;
    left: 0;
    transform: rotate(60deg) translateX(-25px) ;
}
.border-atas-kanan{
    top: 0;
    right: 0;
    transform: rotate(30deg) translateX(55px) ;
}
.border-bawah-kiri{
    position: relative;
    bottom: 0;
    left: 0;
    transform: rotate(180deg) translateX(65px) translateY(-75px) ;
}
.border-bawah-kanan{
   position: relative;
    bottom: 0;
    right: 0;
    transform: rotate(180deg) translateX(-165px) translateY(-25px) ;
}
@keyframes kelip {
    from{

    }
    to{
        box-shadow: 14px 12px 12px rgba(255, 255, 255, 0.7);
    }
}

nav li a{
    color: rgb(219, 203, 233);
    text-decoration: none;
    padding: 0 6px;
}

nav .li-link{
    padding: 0 12px;
}

nav li a:hover{
    color: #eaeaea;
    transition: ease-in .5s;
}

li .card-title{
    padding: 6px 0;
}

header video{
    height: inherit;
    object-fit: cover;
    width: fit-content;
}

header{
    position: relative;
    width: 100vw;
    height: 100vh;
    object-position: 12px;
}

main{
    display: flex;
    gap: 12px;
    flex-flow:nowrap row;
}

body{
    display: flex;
    height: 100vh;
    position: relative;
    flex-flow:column nowrap;
}
.menu-utama{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    height: 100vh;
}

@media screen and (max-width: 888px) {
    .menu-utama{
        width: 100%;
        margin: 12px 320px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        flex-direction: column;
    }
  }